In [1]:
import numpy as np
import pandas as pd

In [2]:

data = pd.read_csv("archive/bodyPerformance.csv")

In [3]:
data.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [4]:
data.drop(columns=["gender","class"],inplace = True)

In [6]:
data.head()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
0,27.0,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0
1,25.0,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0
2,31.0,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0
3,32.0,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0
4,28.0,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0

In [11]:
def data_normalize(scaled_data):
    for col in scaled_data.columns:
        scaled_data[col] =(scaled_data[col] - scaled_data[col].mean())/scaled_data[col].std()
        return scaled_data

In [12]:
scaled_data = data_normalize(data)

In [13]:
scaled_data.head()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
0,-0.717405,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0
1,-0.864187,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0
2,-0.423841,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0
3,-0.350450,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0
4,-0.644014,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0

In [ ]:
cov_matrix = np.cov(scaled_data,rowvar=False,bias=False)

In [ ]:
cov_matrix.shape

In [ ]:
from numpy.linalg import eig

In [ ]:
w,v = eig(cov_matrix)

In [ ]:
w

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar(["e" + str(i+1) for i in range(len(w))], w)
plt.title("Eigenvalues")
plt.xlabel("Magnitude of the eigenvalue")